In [88]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [89]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-10-14 13:58:24,-42.8794,147.3294,51.66,88,75,5.75
1,1,Kolondieba,ML,2022-10-14 14:02:36,11.0882,-6.8926,92.48,42,56,2.91
2,2,Marawi,PH,2022-10-14 14:02:37,7.9986,124.2928,70.30,93,100,4.99
3,3,Avarua,CK,2022-10-14 13:59:56,-21.2078,-159.7750,75.25,94,100,9.22
4,4,Busselton,AU,2022-10-14 13:54:52,-33.6500,115.3333,51.91,89,24,8.55

In [90]:
# Check data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [91]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [92]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

In [93]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Adjusted Heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [94]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [95]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [96]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [98]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Avarua,CK,2022-10-14 13:59:56,-21.2078,-159.7750,75.25,94,100,9.22
8,8,Butaritari,KI,2022-10-14 14:02:40,3.0707,172.7902,80.26,80,100,12.73
13,13,Inhambane,MZ,2022-10-14 14:02:43,-23.8650,35.3833,77.94,64,0,12.12
14,14,Belmonte,BR,2022-10-14 14:02:43,-15.8631,-38.8828,80.11,65,85,5.48
17,17,Sao Jose Da Coroa Grande,BR,2022-10-14 13:59:54,-8.8978,-35.1478,81.30,63,82,10.78
18,18,Namatanai,PG,2022-10-14 14:02:45,-3.6667,152.4333,79.56,78,96,6.82
24,24,Samarai,PG,2022-10-14 14:02:49,-10.6167,150.6667,81.07,83,100,7.18
25,25,Hilo,US,2022-10-14 14:00:06,19.7297,-155.0900,80.28,95,95,1.99
31,31,Hithadhoo,MV,2022-10-14 14:02:52,-0.6000,73.0833,82.27,69,6,18.07
32,32,Hambantota,LK,2022-10-14 14:02:52,6.1241,81.1185,77.34,100,75,3.44

In [99]:
# Check for null values
preferred_cities_df.count()

City_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [100]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
3                     Avarua      CK     75.25 -21.2078 -159.7750
8                 Butaritari      KI     80.26   3.0707  172.7902
13                 Inhambane      MZ     77.94 -23.8650   35.3833
14                  Belmonte      BR     80.11 -15.8631  -38.8828
17  Sao Jose Da Coroa Grande      BR     81.30  -8.8978  -35.1478
18                 Namatanai      PG     79.56  -3.6667  152.4333
24                   Samarai      PG     81.07 -10.6167  150.6667
25                      Hilo      US     80.28  19.7297 -155.0900
31                 Hithadhoo      MV     82.27  -0.6000   73.0833
32                Hambantota      LK     77.34   6.1241   81.1185

In [101]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [102]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [103]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

In [104]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [105]:
# Print new DF
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
8,Butaritari,KI,80.26,3.0707,172.7902,Isles Sunset Lodge
13,Inhambane,MZ,77.94,-23.8650,35.3833,Oceano
14,Belmonte,BR,80.11,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
17,Sao Jose Da Coroa Grande,BR,81.30,-8.8978,-35.1478,Crôa Mares Hotel
...,...,...,...,...,...,...
569,Pedernales,DO,84.22,18.0384,-71.7440,Hotel Costa Marina
570,Mataram,ID,79.61,-8.5833,116.1167,Hotel Santika Mataram
572,Saint-Georges,GD,87.48,12.0564,-61.7485,Radisson Grenada Beach Resort
577,Alto Parana,BR,75.02,-23.1289,-52.3189,Negão House
580,Itoman,JP,81.37,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa

In [111]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [108]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [112]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [113]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))